<!doctype html>
<html lang="en" data-bs-theme="dark">
    <title>BarryCarlyon Twitch Developer Rig Manfiester</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/style.css" />
</head>
<body>
    <main class="container-fluid">
        <div id="navigation" class="btn-group d-flex">
            <div class="navigation_item btn btn-outline-primary" targets="import">Import A Project</div>
            <div class="navigation_item btn btn-outline-secondary" targets="refresh">Refresh Manifest</div>
            <div class="navigation_item btn btn-outline-secondary" targets="existing">Reopen a Project</div>
            <div class="navigation_item btn btn-outline-secondary" targets="import" id="updater">Check for Update</div>
        </div>
        <div id="tab_items">
            <div id="import" class="tab_item">
                <p class="alert alert-danger text-center">Make sure to close the Developer Rig before using Import a Project!</p>

                <p>Import an already existing Twitch Extension to the Rig.</p>

                <form action="" method="post" id="manifestdetails">
                    <fieldset>
                        <legend>Project Settings</legend>
                        <div class="input-group p-1">
                            <label for="extension_name" class="input-group-text">Friendly/Project Name</label>
                            <input type="text" name="extension_name" id="extension_name" class="form-control" />
                        </div>
                        <div class="form-text">We'll call the manfiest/project file this.</div>
                        <div class="input-group p-1">
                            <label for="save_path" class="input-group-text">Project Location</label>
                            <input type="text" name="save_path" id="save_path" class="form-control" readonly />
                            <input type="button" id="save_path_select" value="Select Dir" class="btn btn-outline-secondary" />
                        </div>
                        <div class="form-text">We'll write the manifest/project file here. And you can Reopen this file if you close the project in the rig.</div>
                    </fieldset>
                    <fieldset>
                        <legend>Extension Settings</legend>
                        <div class="input-group p-1">
                            <label for="extension_id" class="input-group-text">Extension Client ID</label>
                            <input type="text" name="extension_id" id="extension_id" class="form-control"/>
                        </div>
                        <div class="input-group p-1">
                            <label for="extension_secret" class="input-group-text">Extension Secret</label>
                            <input type="password" name="extension_secret" id="extension_secret" class="form-control" />
                        </div>
                        <div class="form-text">NOT the API Secret The Extension Client Configuration Secret</div>

                        <div class="input-group p-1">
                            <label for="owner_id" class="input-group-text">Owner User ID</label>
                            <input type="number" name="owner_id" id="owner_id" class="form-control" step="1" min="0" />
                            <div class="input-group-text">PrePop from Rig Session</div>
                        </div>
                        <div class="form-text">Your userID (15185913) not username (barrycarlyon)</div>

                        <div class="input-group p-1">
                            <label for="extension_version" class="input-group-text">Extension Version</label>
                            <input type="text" name="extension_version" id="extension_version" class="form-control" />
                        </div>
                        <div class="form-text">if blank uses released version if any</div>
                    </fieldset>
                    <fieldset>
                        <div class="d-grid">
                            <input type="submit" class="btn btn-outline-primary" value="Attempt Create" />
                        </div>
                        <div class="form-text" id="result"></div>
                    </fieldset>
                </form>
            </div>
            <div id="refresh"  class="tab_item d-none">
                <p class="alert alert-danger text-center">Make sure to close the Developer Rig before using Refresh Manifest!</p>

                <p>Refresh the Extension manifest for a project already imported to the rig.</p>

                <form action="" method="post" id="manifestrefresh">
                    <fieldset>
                        <div class="input-group p-1">
                            <label for="refresh_project_id" class="input-group-text">Which Project?</label>
                            <select name="refresh_project_id" id="refresh_project_id" class="form-select">
                            </select>
                            <input type="button" id="refresh_project_load" value="Load Projects" class="btn btn-outline-secondary" />
                        </div>

                        <div class="input-group p-1">
                            <label for="refresh_owner_id" class="input-group-text">Owner User ID</label>
                            <input type="number" name="refresh_owner_id" id="refresh_owner_id" class="form-control" step="1" min="0" />
                        </div>
                        <div class="form-text">Your userID (15185913) not username (barrycarlyon)</div>

                        <div class="input-group p-1">
                            <label for="refresh_extension_version" class="input-group-text">Extension Version</label>
                            <input type="text" name="refresh_extension_version" id="refresh_extension_version" class="form-control" />
                        </div>
                        <div class="form-text">if blank uses existing version, from the current Manifest</div>

                    </fieldset>
                    <fieldset>
                        <div class="d-grid">
                            <input type="submit" class="btn btn-outline-primary" value="Attempt Refresh" />
                        </div>
                        <div class="form-text" id="refresh_result"></div>
                    </fieldset>
                </form>
            </div>
            <div id="existing"  class="tab_item d-none">
                <p class="alert alert-danger text-center">Make sure to close the Developer Rig before using Reopen a Project!</p>

                <p>If you closed a project in the rig. Then the Project definition file still exists (with views/etc). Use this to reopen that project file.</p>
                <p>This operation will not refresh the manifest, so after you Repen, you'll probably want to Refresh it too!</p>

                <form action="" method="post" id="reopendetails">
                    <fieldset>
                        <legend>Project Settings</legend>
                        <div class="input-group p-1">
                            <label for="reopen_project" class="input-group-text">Project File</label>
                            <input type="text" name="reopen_project" id="reopen_project" class="form-control" readonly />
                            <input type="button" id="reopen_project_select" value="Select Project" class="btn btn-outline-secondary" />
                        </div>

                        <div class="input-group p-1">
                            <label for="reopen_extension_clientid" class="input-group-text">Extension ClientID</label>
                            <input type="text" name="reopen_extension_clientid" id="reopen_extension_clientid" class="form-control" readonly="readonly" />
                            <div class="input-group-text">(loads from file)</div>
                        </div>
                        <div class="input-group p-1">
                            <label for="reopen__owner_id" class="input-group-text">Owner User ID</label>
                            <input type="number" name="reopen_owner_id" id="reopen_owner_id" class="form-control" step="1" min="0" />
                        </div>
                        <div class="form-text">Your userID (15185913) not username (barrycarlyon)</div>

                        <div class="input-group p-1">
                            <label for="reopen_extension_secret" class="input-group-text">Extension Secret</label>
                            <input type="password" name="reopen_extension_secret" id="reopen_extension_secret" class="form-control" />
                        </div>
                        <div class="form-text">NOT the API Secret The Extension Client Configuration Secret</div>
                    </fieldset>
                    <fieldset>
                        <div class="d-grid">
                            <input type="submit" class="btn btn-outline-primary" value="Attempt Reopen" />
                        </div>
                        <div class="form-text" id="reopen_result"></div>
                    </fieldset>
                </form>
            </div>
    </main>

    <script type="text/javascript" src="assets/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="assets/script.js"></script>
</body>
</html>
